function _build() {
  local _version="${1}"
  docker build --build-arg VERSION="${_version}" -t "${DOCKER_REPO_NAME}:${_version}" .
}

function execute_package() {
  _build "${TARGET_VERSION}-snapshot"
}
