function _test_package() {
  local _version="${1}"
  local _target_tests="${2}"
  local _ret
  # shellcheck disable=SC1090
  # source=jf_aliases
  source "$(pwd)/${APP_NAME}_aliases"
  export -f jq-front
  export JF_DOCKER_TAG="${_version}"
  message "Testing package:'${JF_DOCKER_TAG}'"
  bash -eu "tests/tests.sh" "${APP_NAME}" "$(pwd)/tests" "${_target_tests}"
  _ret=$?
  unset -f jq-front
  unset JF_DOCKER_TAG
  return "${_ret}"
}

function execute_test_package() {
  local _target_tests="${1:-*}"
  _test_package "${TARGET_VERSION}-snapshot" "${_target_tests}"
  return $?
}
