"${__BUILD__TESTENVVARS_RC:-false}" && return 0
readonly __BUILD__TESTENVVARS_RC=true

EXECBASE_DIR="${EXECBASE_DIR:-"$(dirname "$(dirname "${BASH_SOURCE[0]}")")"}"
echo "EXECBASE_DIR: $EXECBASE_DIR" >&2
PROJECT_DIR="${PROJECT_DIR:-"$(dirname "${BASH_SOURCE[0]}")"}"
LIBDIR="${LIBDIR:-${EXECBASE_DIR}/lib}"
TESTDIR="${TESTDIR:-${EXECBASE_DIR}/test}"
TESTREPORTDIR="${TESTREPORTDIR:-${EXECBASE_DIR}/testreport}"

export EXECBASE_DIR
export SRCDIR
export LIBDIR
export TESTDIR
export TESTREPORTDIR
