"${__BUILD__TESTENVVARS_RC:-false}" && return 0
readonly __BUILD__TESTENVVARS_RC=true

EXEC_BASEDIR="${EXEC_BASEDIR:-"$(dirname "$(dirname "${BASH_SOURCE[0]}")")"}"
echo "EXEC_BASEDIR: $EXEC_BASEDIR" >&2
PROJECT_DIR="${PROJECT_DIR:-"$(dirname "${BASH_SOURCE[0]}")"}"
LIBDIR="${LIBDIR:-${EXEC_BASEDIR}/lib}"
TESTDIR="${TESTDIR:-${EXEC_BASEDIR}/test}"
TESTREPORTDIR="${TESTREPORTDIR:-${EXEC_BASEDIR}/testreport}"

export EXEC_BASEDIR
export SRCDIR
export LIBDIR
export TESTDIR
export TESTREPORTDIR
