"${__BUILD__BUILD_RC:-false}" && return 0
readonly __BUILD__BUILD_RC=-true

BASEDIR="$(pwd)"
DOCDIR="${BASEDIR}/out/doc"
DOCSRCDIR="${BASEDIR}/src/adoc"
LATEST_RELEASED_VERSION="$(printf "v%s.%s" "$(jq -r -c '.version.latestReleased.major' "${BASEDIR}/build_info.json")" \
                                           "$(jq -r -c '.version.latestReleased.minor' "${BASEDIR}/build_info.json")")"
TARGET_VERSION="$(printf "v%s.%s" "$(jq -r -c '.version.target.major' "${BASEDIR}/build_info.json")" \
                                  "$(jq -r -c '.version.target.minor' "${BASEDIR}/build_info.json")")"
APP_NAME="$(jq -r -c '.appName' "${BASEDIR}/build_info.json")"
HOMEPAGE="$(jq -r -c '.homepage' "${BASEDIR}/build_info.json")"
export LATEST_RELEASED_VERSION
export TARGET_VERSION
export APP_NAME
export BASEDIR
export DOCDIR
export DOCSRCDIR
export HOMEPAGE