function execute_stage() {
  message "You are now in bash shell. Type CTRL-D to quit."
}

function execute_stage() {
  local _test_filter=${1:-.*}
  export CMD_UNIT_DOCKERDIR_PREFIX="/var/lib/cmd-unit"
  export CMD_UNIT_CONFDIR="${CMD_UNIT_DOCKERDIR_PREFIX}/${TESTDIR}/.cmd_unit"
  __command_unit \
    --parallel \
    --filter="${_test_filter}" \
    --test-report="${TESTREPORTDIR}" \
    --test-srcdir="${TESTDIR}" \
    --test-workdir="${TESTDIR}"
}

function __command_unit() {
  local _me
  _me="$(whoami)"
  docker run \
    --user="$(id -u "${_me}"):$(id -g "${_me}")" \
    --env PROJECT_NAME="command-unit" \
    --env CMD_UNIT_CONFDIR="${CMD_UNIT_CONFDIR}" \
    --env CMD_UNIT_DOCKERDIR_PREFIX="${CMD_UNIT_DOCKERDIR_PREFIX}" \
    -v "$(pwd):/var/lib/cmd-unit$(pwd)" \
    -i \
    "${DOCKER_REPO_NAME}:${TARGET_VERSION}-snapshot" \
    "${@}"
}
