source "$(dirname "$(dirname "${BASH_SOURCE[0]}")")/lib/docker.rc"

function execute_stage() {
  local _test_filter=${1:-.*} _docker="${2:-false}"
  local _docker_prefix
  if [[ "${_docker}" == true ]]; then
    _docker_prefix="/var/lib/cmd-unit"
    function run_commandunit() {
      __run_command_unit_with_docker "${@}"
    }
  else
    _docker_prefix=""
    function run_commandunit() {
      __run_command_unit_native "${@}"
    }
  fi

  export CMD_UNIT_DOCKERDIR_PREFIX="${_docker_prefix}"
  export CMD_UNIT_CONFDIR="${CMD_UNIT_DOCKERDIR_PREFIX}/${TESTDIR}/.cmd_unit"

  run_commandunit \
    --parallel \
    --filter="${_test_filter}" \
    --test-report="${TESTREPORTDIR}" \
    --test-srcdir="${TESTDIR}" \
    --test-workdir="${TESTDIR}"
}

function __run_command_unit_native() {
  "${EXEC_BASEDIR}/bin/command-unit" "${@}"
}
