source "${PROJECT_DIR}/src/lib/jobs.rc"

function execute_stage() {
  local _source_files _i
  message "Processing 'yaml++' files: (Converting them into 'json++' files)"
  ensure_no_bg_jobs
  mapfile -t _source_files < <(find "${TESTDIR}" -name '*.yaml++')
  for _i in "${_source_files[@]}"; do
    message "- '${_i}'"
    yaml2json "${_i}" >"${_i%.yaml++}.json++" &
  done
  wait_for_jobs
  message "Done."

  message "Processing 'yaml' files: (Converting them into 'json' files)"
  ensure_no_bg_jobs
  mapfile -t _source_files < <(find "${TESTDIR}" -name '*.yaml')
  for _i in "${_source_files[@]}"; do
    message "- '${_i}'"
    yaml2json "${_i}" >"${_i%.yaml}.json" &
  done
  wait_for_jobs
  message "Done."

  message "Processing 'json++' files: (Converting them into 'json' files)"
  ensure_no_bg_jobs
  mapfile -t _source_files < <(find "${TESTDIR}" -name '*.json++')
  export JF_PATH="${TESTDIR}"
  for _i in "${_source_files[@]}"; do
    message "- '${_i}'"
    jq-front "${_i}" >"${_i%++}" &
  done
  wait_for_jobs
  message "Done."
}
