"${__BUILDTOOLS__STAGE_HANDLER_DISPATCHER_RC:-false}" && return 0
readonly __BUILDTOOLS__STAGE_HANDLER_DISPATCHER_RC=true

function handle_source() {
  abort "This stage does not support target: 'source'"
}

function handle_snapshot() {
  abort "This stage does not support target: 'source'"
}

function handle_release() {
  abort "This stage does not support target: 'source'"
}

function execute_stage() {
  message "DISPATCHING: '${*}'"
  buildtools__execute_stage "${@}"
  message "FINISHED: '${*}'"
}

function buildtools__execute_stage() {
  local _target="${1}" _filter="${2}"
  shift 2
  if [[ "${_target}" == "source" ]]; then
    handle_source "${_filter}" "${@}"
  elif [[ "${_target}" == "snapshot" ]]; then
    handle_snapshot "${_filter}" "${@}"
  elif [[ "${_target}" == "release" ]]; then
    handle_release "${_filter}" "${@}"
  else
    abort "Unknown target: '${_target}' was specified. args: '${*}'"
  fi
}